.container {
  width: 600px;
}

.todo-tab {
  display: flex;
  justify-content: space-between;
}

li .todo-list {
  display: flex;
  justify-content: flex-start;
  justify-items: flex-start;
}

li .todo-content {
  display: inline-block;
  width: 400px;
}
